{{> head }}
{{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">BIENVENIDO A NODE  {{ capitalize name }}</h1>
        <p class="lead">Framework de desarrollo javascript en el lado del servidor</p>
        <hr class="my-4">
        <p>Motor de API y lógica transaccional con los repositorios de datos</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Aprender más</a>
    </div>


{{> footer }}